[run]
branch = True
source = backend
omit =
    */backend/migrations/__init__.py
    */backend/tests/*
    */backend/tasks.py
    */backend/celery_app.py
    */backend/utils/*
    */backend/dashboard.py
    */backend/migrations/*
    */backend/__init__.py
    */backend/swagger/* 