<div>
    <script src="https://unpkg.com/@vkid/sdk@<3.0.0/dist-sdk/umd/index.js"></script>
    <script type="text/javascript">
      if ('VKIDSDK' in window) {
        const VKID = window.VKIDSDK;
  
        VKID.Config.init({
          app: "{{ VK_APP_ID }}",
          redirectUrl: "{{ VK_REDIRECT_URI }}",
          responseMode: VKID.ConfigResponseMode.Callback,
          source: VKID.ConfigSource.LOWCODE,
          scope: 'email',
        });
  
        const oAuth = new VKID.OAuthList();
  
        oAuth.render({
          container: document.currentScript.parentElement,
          oauthList: [
            'vkid'
          ]
        })
        .on(VKID.WidgetEvents.ERROR, vkidOnError)
        .on(VKID.OAuthListInternalEvents.LOGIN_SUCCESS, function (payload) {
          const code = payload.code;
          const deviceId = payload.device_id;
  
          VKID.Auth.exchangeCode(code, deviceId)
            .then(vkidOnSuccess)
            .catch(vkidOnError);
        });
      
        function vkidOnSuccess(data) {
          // Processing result
        }
      
        function vkidOnError(error) {
          // Processing error
        }
      }
    </script>
  </div>